body
{
    background-image: url(../images/shoulder.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

#title
{
    font-size: 40px;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    color: #FFFFFF;
    margin-bottom: 0px;
}

#loginDiv
{
  font-size: 30px;
  width: 50%;
  padding: 25px;
  background-color: #FFFFFF;
  opacity: 0.8;
}

.site-heading {
    padding: 200px 0 150px;
    color: white;
    position: relative;
    opacity: 80%;
  }


#registerDiv
{
  /* font-size: 30px; */
  width: 50%;
  padding: 25px;
  background-color: #FFFFFF;
  opacity: 0.8;
}
/*
.registerForm{
    width: 50%;
    display: inline-block;
} */

#loggedInDiv
{
  font-size: 30px;
  width: 50%;
  padding: 25px;
  background-color: #FFFFFF;
  opacity: 0.8;
}

#accessUIDiv
{
    font-size: 30px;
    width: 70%;
    padding: 25px;
    background-color: #b2b2b2;
}

.buttons
{
    width:100px;
    height:100px;
    border-radius:15%;
    font-size:12px;
    text-align: center;
}

.buttons:hover{
    background-color: #00d5124f;
    color: #FFFFFF;
    opacity: 50%;
}

.vertical-center {
  min-height: 100%;
  min-height: 100vh;
  margin-top: -48px;
  display:flex;
  align-items: center;
}

/* #loginName
{
	font-size: 30px;
}
#loginPassword
{
	font-size: 30px;
}
#loginEmail
{
	font-size: 30px;
}
#searchText
{
	font-size: 30px;
}
#colorText
{
	font-size: 30px;
} */

input[type="text"],input[type="password"], input[type="email"], input[type="tel"]{
    /* border-radius: 25px; */
    text-align: center;
    width: 100%;
    margin-bottom: 3%;
    font-family: 'Ubuntu', sans-serif;
}

#inner-title{
    display: inline-block;
    font-size: 0.8em;
    width: 90%;
    text-align: center;
    margin-bottom: 2%;
    font-family: 'Ubuntu', sans-serif;
    color: #95060a;
}

#loginResult{
    display: inline-block;
    font-size: 0.8em;
    width: 90%;
    text-align: center;
    margin-left: 5%;
    margin-bottom: 2%;
    font-family: 'Ubuntu', sans-serif;
    color: #95060a;
}

/* #userName{
    display: inline-block;
    width: 80%;
    margin-left: 10%;
    text-align: center;
} */

#Loginbutton{
  width:100px;
  height:100px;
  border-radius:50%;
  font-size:12px;
  text-align: center;
}

#logoutButton{
    width: 20%;
}

select{
    width: 100%;
    font-family: 'Ubuntu', sans-serif;
}

#colorSearchResult{
    display: none;
}

#contactAddResult{
    display: inline-block;
    font-size: 0.8em;
    width: 90%;
    text-align: center;
    margin-left: 5%;
    margin-top: 2%;
    margin-bottom: 1%;
    font-family: 'Ubuntu', sans-serif;
    color: #95060a;
}
